@import url("https://fonts.googleapis.com/css?family=Raleway:400,600");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

/* header */

.header {
  min-height: 80vh;
  background: linear-gradient(rgba(0, 0, 2, 0.4), rgba(0, 0, 2, 0.4)),
    url(./images/heroimage.jpg) center/cover fixed no-repeat;
  display: flex;
  flex-direction: column;
}

/* hero */

.hero {
  font-size: 3rem;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #fff;
  text-align: center;
  padding-bottom: 4rem;
  font-weight: 700;
}

.hero__title {
  font-size: 3rem;
  letter-spacing: 0.15rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

/* end of hero */
/* section title*/

.section-title {
  text-align: center;
  text-transform: uppercase;
}

.section-title__name {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  font-weight: 700;
  padding: 6rem;
  background: #00ff7f;
 /*  background: #00a8ff; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* end of section title*/

/* services section*/

.services {
  background: linear-gradient(to right, #2d3436, #1f262a);
  color: white;
  padding: 1rem 0;
  padding-bottom: 3rem;
}

.services__center {
  max-width: 100vw;
  margin: 2rem auto;
}

.services__single-service {
  margin: 2rem auto;
  text-align: center;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  padding: 2rem 0;
}

.services__single-service:hover {
  background: #0984e3;
  color: white;
  -webkit-box-shadow: 0px 4px 13px -2px rgba(0, 0, 0, 0.89);
  box-shadow: -9px 7px 13px -1px rgba(0, 0, 0, 0.44);
}

.services__single-service-title {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
}

.services__single-service-text {
  width: 80%;
  font-size: 24px;
  margin: 0 auto;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 0.2rem;
}

@media screen and (min-width: 768px) {
  .services__center {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .services__single-service {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(50% - 0.5rem);
    flex: 0 0 calc(50% - 0.5rem);
  }
}

@media screen and (min-width: 992px) {
  .services__single-service {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(33.3333% - 0.25rem);
    flex: 0 0 calc(33.3333% - 0.25rem);
  }
}

/* end of services section*/

video {
  display: block;   
  width: 100%;
}

/* project section*/

.projects {
  padding: 3rem 0;
}

.projects__center {
  max-width: 100vw;
  margin: 2rem auto;
}

.projects__single-project {
  margin: 2rem auto;
  position: relative;
  box-shadow: -9px 7px 13px -1px rgba(0, 0, 0, 0.44);
}

.projects__single-project:hover img {
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  filter: grayscale(0);
}

.projects__single-project-img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  transition: transform 0.5s, filter 1.5s ease-in-out;
  filter: grayscale(100%);
}

.projects__single-project::before {
  content: "";
  background: #181b24;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
}

.projects__single_.services__single-service {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: 0px 4px 13px -2px rgba(0, 0, 0, 0.89);
  box-shadow: 0px 4px 13px -2px rgba(0, 0, 0, 0.89);
}

@media screen and (min-width: 768px) {
  .projects__center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .projects__single-project {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(50% - 0.5rem);
    flex: 0 0 calc(50% - 0.5rem);
  }
}

@media screen and (min-width: 992px) {
  .projects__single-project {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(25% - 0.5rem);
    flex: 0 0 calc(25% - 0.5rem);
  }
}

/* end of project section*/

/* footer section */

.footer {
  background: linear-gradient(to right, #2d3436, #1f262a);
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  padding: 4em 0;
}

a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

/* end of footer section */
